src/game/logic/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://comet.m02.ch/pinball/playfield" xmlns:c="http://comet.m02.ch/pinball" xmlns:tns="http://comet.m02.ch/pinball/playfield" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="configuration" type="tns:configuration"/>

  <xs:element name="playfield" type="tns:playfield"/>

  <xs:element name="rule" type="tns:rule"/>

  <xs:element name="vector" type="tns:vector"/>

  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element name="playfields">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:playfield" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="playfield">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="elements">
        <xs:complexType>
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="bumper" type="tns:bumper"/>
              <xs:element name="slingshot" type="tns:slingshot"/>
              <xs:element name="obstacle" type="tns:obstacle"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="rules">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:rule" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bumper">
    <xs:complexContent>
      <xs:extension base="tns:element">
        <xs:sequence>
          <xs:element name="radius" type="xs:float"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="element" abstract="true">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="position" type="tns:vector"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vector">
    <xs:sequence>
      <xs:element name="x" type="xs:float"/>
      <xs:element name="y" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="slingshot">
    <xs:complexContent>
      <xs:extension base="tns:element">
        <xs:sequence>
          <xs:element name="corner.a" type="tns:vector"/>
          <xs:element name="corner.b" type="tns:vector"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="obstacle">
    <xs:complexContent>
      <xs:extension base="tns:element">
        <xs:sequence>
          <xs:element name="vertices">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="vertice" type="tns:vector" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rule">
    <xs:sequence>
      <xs:element name="class" type="xs:string"/>
      <xs:element name="parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="parameter" type="xs:int" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

